* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
    font-family: 'Roboto', Arial, sans-serif; /* Roboto with fallback fonts */

}
.hero {
    color: white;
    text-align: center;
    padding-top: 25px;
}
.container {
    border: 2px solid white;
    border-radius: 25px;
    width: 360px; /* Static width for the calculator */
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px; /* Space between rows */
    padding: 8px;
    background-color: black;
}
.display {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    width: 100%;
    color: white;
    font-size: larger;
}
.row {
    display: flex; /* Each row uses Flexbox */
    gap: 5px; /* Space between buttons */
}
button {
    flex: 1; /* Ensure all buttons take equal space */
    height: 70px; /* Consistent height for all buttons */
    text-align: center;
    border-radius: 50%;
    background-color: #424242;
    color: white;
}
.zero {
    flex: none; /* Disable Flexbox resizing for "0" */
    width: calc(2 * 86px + 5px); /* Slightly wider than two buttons (adjusted to 85px each) */
    height: 70px; /* Same height as other buttons */
    border-radius: 60px;
}
.gray-btn {
    background-color: gray;
}
.orange-btn {
    background-color: rgb(247, 167, 20);
}




